{% ckan_extends %}

	{% block package_metadata_fields_url %}
  {% endblock %}

  {% block package_metadata_fields_version %}
  {% endblock %}

	{% block package_metadata_fields_maintainer %}
	{% endblock %}


{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}
{% block custom_fields %}
  {{ form.markdown('custom_text6', label=_('Governor\'s (State) Action / Comments'), id='field-custom_text6', placeholder=_(''), value=data.custom_text6, error=errors.custom_text6) }}
  {{ form.markdown('custom_text7', label=_('NRRC Council Decision(s)'), id='field-custom_text7', placeholder=_(''), value=data.custom_text7, error=errors.custom_text7) }}
  {{ form.markdown('custom_text8', label=_('Inter-agency Review Team (IRT)'), id='field-custom_text8', placeholder=_('Review Checklist – biological, legal, designate lead agency'), value=data.custom_text8, error=errors.custom_text8) }}
  {{ form.markdown('custom_text10', label=_('State Agency(s) Resources / Data & Response(s)'), id='field-custom_text10', placeholder=_(''), value=data.custom_text10, error=errors.custom_text10) }}
  {{ form.markdown('custom_text11', label=_('Counties Impacted Resources / Data & Responses(s)'), id='field-custom_text11', placeholder=_(''), value=data.custom_text11, error=errors.custom_text11) }}
{% endblock %}