<div class="module-content box">
  <header>
		<h2 class="page-heading">{{ _("Arizona Natural Resources Review Council Decision Support System (NRRC DSS)") }}</h2>
		<p></p>
  </header>

  {% block home_text %}
		<ul>
			<li>federal action notification and collaborative work space</li>
			<li>central document repository for state agencies to keep track of and coordinate natural resource federal actions</li>
			<li>notification system for federal alerts</li>
			<li>light-weight framework where Arizona agencies can efficiently funnel their metadata into a shared catalog</li>
		</ul>
		<p></p>
		<p>Welcome to the NRRC site, where Arizona agencies work together to respond with a single voice in response to federal alerts to protect Arizona’s natural resources.</p>
	{% endblock %}
</div>