{% ckan_extends %}

  {% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are notifications?') }}</h2>
      <div class="module-content">
        <p>
          {% trans %}
          A notification is a collection of data resources (such as files), together with a description and other information associated with a federal alert.
          {% endtrans %}
        </p>
      </div>
    </section>
  {% endblock %}